* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
  }
  body {
    min-height: auto;
    overflow-x: hidden;
    
  }
  
  /* header */
  
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    transition: 0.5s;
  }
  .header.sticky {
    background-color: white;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  }
  .header .logo {
    color:#00cc2c;
    font-weight: 700;
    font-size: 30px;
    text-decoration: none;
    font-family: "brush script MT";
  }
  .header .logo samp {
    color: crimson;
  }
  .header .nav {
    position: relative;
    display: flex;
  }
  .header .nav li {
    list-style: none;
    margin-left: 30px;
  }
  .header .nav li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 300;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    text-transform: uppercase;
  }
  .header.sticky .nav li a {
    color: black;
  }
  .nav li a:hover {
    color: #00cc2c;
  }
  .header.sticky .nav li a:hover {
    color:#00cc2c;
  }
  li:hover {
    transform: scale(1.08);
  }
  .menu-toggle{
    color: white;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
  }
  
  
  
  @media screen and (min-width : 0) and (max-width : 768px){
   .header,
   .header.sticky{
     padding: 10px 20px;
   }
   .header .nav{
     display: none;
   }
   .header .nav.active{
     width: 100%;
     height: calc(about - 60px);
     position: fixed;
     top: 60px;
     left: 0;
     padding: 10px;
     box-shadow: 0 55px 20px rgba(0, 0, 0, 0.05);
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     background: white;
   }
   .header .nav li {
    margin:10px ;
   }
   .header .nav li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.6em;
    font-weight: 300;
    margin: 10px;
    
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    text-transform: uppercase;
   }
   .nav li a:hover {
    color: #00cc2c;
  }
   .header.sticky .nav li a:hover {
    color:#00cc2c;
  }
   .menutoggle{
     position: relative;
     width: 40px;
     height: 40px;
     background: url(../img/menu.png);
     background-size: 30px;
     background-repeat: no-repeat;
     background-position: center;
     cursor: pointer;
     filter: invert(0);
   }
   .menutoggle.active{
    background: url(../img/cancel.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(0);
   }
   .header.sticky .menutoggle{
     filter: invert(0);
   }
  
}
.row{
    margin: 10% 10% 5% 10%;
  
}
 .col {
   padding: 2%; 
}
.col h1{
    font-weight: -500;
    color: crimson;
    font-size: 30px;

    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px  ;
      border-bottom:1px dashed #333;
      margin-bottom:5px;
      padding-bottom:5px;
    }



.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    
    min-width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
 
  }
  .content-table thead tr:nth-of-type(odd){
    background-color: #e2e2e2;  
  
  }
  .content-table thead tr b{
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    color: black;
  }
  .content-table thead tr b span{
      color: crimson;
  }
  
  .content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .content-table th,
  .content-table td {
    padding: 12px 15px;
  }
  
  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  .content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }
  .tt{
      overflow-x: auto;
  }
  
/*footer*/
  
.footer-section{
    padding: 30px;
    background: crimson;  
  }
  
  .footer .footer-icon{
    text-align: center;
  }
  
  .footer .footer-icon .icon{
    display: inline-block;
    width: 60px;
    height: 60px;
    font-size: 32px;
    color:crimson;
    background-color:black;
    margin: 0 20px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
  }
  .footer .footer-icon .icon:hover{
    color:#00cc2c;
  }
  
  .icon i{
    line-height: 60px;
  }
  
  .footer p{
    text-align: center;
    padding: 20px 0;
    color: white;
  }


  
@media screen and (min-width : 0) and (max-width : 768px){
  
    .footer .footer-icon .icon{
      display: inline-block;
      width: 60px;
      height: 60px;
      font-size: 32px;
      color:crimson;
      background-color:black;
      margin: 5px;
      text-align: center;
      border-radius: 50%;
      cursor: pointer;
      }
    
    }


    
@media screen and (min-width : 0) and (max-width : 768px){

    .row{
        margin: 20% 2% 2% 2%;
        align-items: center;
    }
     .col {
       padding: 0%; 
    }
    .col h1{
        font-weight: -500;
        color: crimson;
        font-size: 30px;
    
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 2px  ;
          border-bottom:1px dashed #333;
          margin-bottom:5px;
          padding-bottom:5px;
        }
    
    
}