* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

body {
    min-height: auto;
    overflow-x: hidden;
}


/* header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    transition: 0.5s;
}

.header.sticky {
    background-color: white;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.header .logo {
    color: #00cc2c;
    font-weight: 700;
    font-size: 30px;
    text-decoration: none;
    font-family: "brush script MT";
    text-transform: capitalize;
}

.header .logo samp {
    color: crimson;
}

.header .nav {
    position: relative;
    display: flex;
}

.header .nav li {
    list-style: none;
    margin-left: 30px;
}

.header .nav li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 300;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    text-transform: uppercase;
}

.header.sticky .nav li a {
    color: black;
}

.nav li a:hover {
    color: #00cc2c;
}

.header.sticky .nav li a:hover {
    color: #00cc2c;
}

li:hover {
    transform: scale(1.08);
}

.menu-toggle {
    color: white;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

@media screen and (min-width: 0) and (max-width: 768px) {
    .header,
    .header.sticky {
        padding: 10px 20px;
    }
    .header .nav {
        display: none;
    }
    .header .nav.active {
        width: 100%;
        height: calc(about - 60px);
        position: fixed;
        top: 60px;
        left: 0;
        padding: 10px;
        box-shadow: 0 55px 20px rgba(0, 0, 0, 0.05);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: white;
    }
    .header .nav li {
        margin: 10px;
    }
    .header .nav li a {
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 1.6em;
        font-weight: 300;
        margin: 10px;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
        text-transform: uppercase;
    }
    .nav li a:hover {
        color: #00cc2c;
    }
    .header.sticky .nav li a:hover {
        color: #00cc2c;
    }
    .menutoggle {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(/img/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        filter: invert(0);
    }
    .menutoggle.active {
        background: url(/img/cancel.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
        filter: invert(0);
    }
    .header.sticky .menutoggle {
        filter: invert(0);
    }
}


/*footer*/

.footer-section {
    padding: 30px;
    background: crimson;
}

.footer .footer-icon {
    text-align: center;
}

.footer .footer-icon .icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    font-size: 32px;
    color: crimson;
    background-color: black;
    margin: 0 20px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.footer .footer-icon .icon:hover {
    color: #00cc2c;
}

.icon i {
    line-height: 60px;
}

.footer p {
    text-align: center;
    padding: 20px 0;
    color: white;
}

@media screen and (min-width: 0) and (max-width: 768px) {
    .footer .footer-icon .icon {
        display: inline-block;
        width: 60px;
        height: 60px;
        font-size: 32px;
        color: crimson;
        background-color: black;
        margin: 5px;
        text-align: center;
        border-radius: 50%;
        cursor: pointer;
    }
}

.vol {
    background-color: rgb(235, 235, 235);
    margin: 10% 5% 5% 5%;
    padding: 3% 10%;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.for {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.for h2 {
    font-size: 30px;
    color: #00cc2c;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}

.for .inbox {
    position: relative;
    width: 100%;
    align-items: center;
    margin-top: 10px;
}

.for .inbox input{
    width: 60%;
    padding: 5px 0;
    font-size: 16px;
    margin: 6px 0;
    border: none;
    background: none;
    border-bottom: 2px solid crimson;
    outline: none;
    resize: none;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    height: 40px;
    text-decoration: none;
    letter-spacing: 1px;
  }

  .for .inbox .lab{
    position: absolute;
    left: 0;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
  }
 
 
  .for .inbox input:focus ~ .lab,
  .for .inbox input:valid ~ .lab,
  .for .inbox textarea:focus ~ .lab,
  .for .inbox textarea:valid ~ .lab{
    color: crimson;
    font-size: 12px;
    transform: translateY(-20px);
  }


.for .inbox input[type="submit"] {
    width: 150px;
    background: crimson;
    color: white;
    border: none;
    font-size: 1em;
    color: white;
    padding: 10px 30px;
    border-radius: 2px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}

.for .inbox input[type="submit"]:hover {
    background: #00cc2c;
    transform: scale(0.97);
}

.for .inbox input[type="file"] {
    left: 0;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    transition: 0.5s;
    color: #666;
}

.for .inbox input[type="file"]:valid {
    color: black;
}

.for .inbox input#file-upload-button {
    width: 150px;
    background: crimson;
    color: white;
    border: none;
    font-size: 1em;
    color: white;
    padding: 10px 30px;
    border-radius: 2px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}

.form-input {
    width: 250px;
    padding: 20px;
    background-color: rgb(235, 235, 235);
    border: 2px dashed crimson;
    border-radius: 15px;
    margin: 20px 0px;
}

.form-input input {
    display: none;
}

.form-input label {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: crimson;
    color: rgb(235, 235, 235);
    font-size: 18px;
    font-family: "open sans", sans-serif;
    text-transform: capitalize;
    border-radius: 10px;
    cursor: pointer;
}

.form-input label :hover {
    background: #00cc2c;
}

.form-input img {
    width: 100%;
    display: none;
    margin-top: 10px;
    border-radius: 10px;
}

.title {
    margin: 25px 0px;
}

@media screen and (min-width: 0) and (max-width: 768px) {
    .vol {
        background-color: rgb(235, 235, 235);
        margin: 20% 5% 5% 5%;
        padding: 3% 10%;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
    }
}