* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
  }
  body {
    min-height: 1000px;
    overflow-x: hidden;
  }
  
  /* header */
  
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    transition: 0.5s;
  }
  .header.sticky {
    background-color: white;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  }
  .header .logo {
    color:#00cc2c;
    font-weight: 700;
    font-size: 30px;
    text-decoration: none;
    font-family: "brush script MT";
  }
  .header .logo samp {
    color: crimson;
  }
  .header .nav {
    position: relative;
    display: flex;
  }
  .header .nav li {
    list-style: none;
    margin-left: 30px;
  }
  .header .nav li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 300;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    text-transform: uppercase;
  }
  .header.sticky .nav li a {
    color: black;
  }
  .nav li a:hover {
    color: #00cc2c;
  }
  .header.sticky .nav li a:hover {
    color:#00cc2c;
  }
  li:hover {
    transform: scale(1.08);
  }
  .menu-toggle{
    color: white;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
  }
  
  
  
  @media screen and (min-width : 0) and (max-width : 768px){
   .header,
   .header.sticky{
     padding: 10px 20px;
   }
   .header .nav{
     display: none;
   }
   .header .nav.active{
     width: 100%;
     height: calc(about - 60px);
     position: fixed;
     top: 60px;
     left: 0;
     padding: 10px;
     box-shadow: 0 55px 20px rgba(0, 0, 0, 0.05);
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     background: white;
   }
   .header .nav li {
    margin:10px ;
   }
   .header .nav li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.6em;
    font-weight: 300;
    margin: 10px;
    
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    text-transform: uppercase;
   }
   .nav li a:hover {
    color: #00cc2c;
  }
   .header.sticky .nav li a:hover {
    color:#00cc2c;
  }
   .menutoggle{
     position: relative;
     width: 40px;
     height: 40px;
     background: url(../img/menu.png);
     background-size: 30px;
     background-repeat: no-repeat;
     background-position: center;
     cursor: pointer;
     filter: invert(1);
   }
   .menutoggle.active{
    background: url(../img/cancel.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(1);
   }
   .header.sticky .menutoggle{
     filter: invert(0);
   }
  
}


  /* welcome */
  
  .banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/volun.jpg);
    background-size: cover;
    background-color: #11111134;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-attachment: fixed;
  }
  .banner .content {
    max-width: 900px;
    text-align: center;
  
    transform: translate(-40%, 5%);
  }
  .banner .content h1 {
    font-size: 5em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    color: white;
    margin: 10px;
  }
  .banner .content p {
    font-size: 25px;
    color: white;
    font-weight: 300;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    margin: 10px;
  }
  
  .btn {
    font-size: 1em;
    color: white;
    display: inline-block;
    background: crimson;
    padding: 10px 30px;
    border-radius: 2px;
    margin: 20px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
  }
  .btn:hover {
    background:#00cc2c;
    transform: scale(0.97);
  }
  
  @media screen and (min-width : 0) and (max-width : 768px){
    
  .banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/volun.jpg);
    background-size: cover;
    background-color: #11111134;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-attachment: fixed;
  }
    .banner .content {
      max-width: 900px;
      text-align: center;
      transform: translate(0%, 5%);
    }
    .banner .content h1 {
      font-size: 4em;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      color: white;
      text-transform: uppercase;
      margin: 10px;
    }
    .banner .content p {
      font-size: 20px;
      color: white;
      font-weight: 300;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
      text-transform: uppercase;
      margin: 10px;
    }
  }
  
  @media screen and (min-width : 0) and (max-width : 320px){
    .banner .content h1 {
      font-size: 3em;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      color: white;
      text-transform: uppercase;
      margin: 10px;
    }
    .banner .content p {
      font-size: 18px;
      color: white;
      font-weight: 300;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
      text-transform: uppercase;
      margin: 10px;
    }
   
  }
  

  
    .fform{
        margin: 3% 10% 10% 10%;
    }
    .fform .inbox{
      position: relative;
      width: 100%;
      align-items: center;
      margin-top: 10px;
    }
    .fform .inbox input{
      width: 65%;
      padding: 5px 0;
      background: none;
      font-size: 16px;
      margin: 10px -34px;
      border: none;
      border-bottom: 2px solid crimson;
      outline: none;
      resize: none;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
      text-decoration: none;
      letter-spacing: 1px;
    }
    .fform .inbox input[type="email"]{
      width: 65%;
      padding: 5px 0;
      background: none;
      font-size: 16px;
      margin: 10px -34px;
      border: none;
      border-bottom: 2px solid crimson;
      outline: none;
      resize: none;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
      text-decoration: none;
      letter-spacing: 1px;
    }
    .fform .inbox input[type="password"]{
      width: 65%;
      padding: 5px 0;
      background: none;
      font-size: 16px;
      margin: 10px -34px;
      border: none;
      border-bottom: 2px solid crimson;
      outline: none;
      resize: none;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
      text-decoration: none;
      letter-spacing: 1px;
    }
    .fform .inbox textarea {
        width: 65%;
      padding: 5px 0;
      background: none;
      font-size: 16px;
      margin: 10px -34px;
      border: none;
      border-bottom: 2px solid crimson;
      outline: none;
      resize: none;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
      text-decoration: none;
      letter-spacing: 1px;
        height: 75px;
    }
    
    .fform .inbox .lab{
      position: absolute;
      left: 0;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 2px;
      padding: 5px 0;
      font-size: 16px;
      margin: 10px -28px;
      pointer-events: none;
      transition: 0.5s;
      color: #666;
    }
    
    .fform .inbox input:focus ~ .lab,
    .fform .inbox input:valid ~ .lab,
    .fform .inbox input[type="email"]:focus ~ .lab,
    .fform .inbox input[type="email"]:valid ~ .lab,
    .fform .inbox input[type="password"]:focus ~ .lab,
    .fform .inbox input[type="password"]:valid ~ .lab,
    .fform .inbox textarea:focus ~ .lab,
    .fform .inbox textarea:valid ~ .lab{
      color: crimson;
      font-size: 12px;
      transform: translateY(-20px);
    }
    .fform .inbox input[type="submit"]{
      width: 150px;
      background: crimson;
      color: white;
      border: none;
    align-items: center;
      font-size: 1em;
    color: white;
    padding: 10px 30px;
    border-radius: 2px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.5s;
    }
    
    
    .fform .inbox input[type="submit"]:hover {
    background:#00cc2c;
    transform: scale(0.97);
    }
  
    
    .fform .ll i{
      font-size: 22px;
      position: relative;
  float: right;
     right: 15px;
     top: 15px;
      color: rgb(0, 0, 0);
      transition: .5s;
  }
  
    .fform .ll i:hover{
      font-weight: bold;
      transform: scale(0.9);
    }
  
  
  
@media screen and (min-width : 0) and (max-width : 1068px){
  
  .fform .fform{
      margin: 3% 10% 10% 10%;
  }
  
  .fform .inbox a{
      margin-left: 0px;
  }
}


/*footer*/
  
.footer-section{
    padding: 30px;
    background: crimson;  
  }
  
  .footer .footer-icon{
    text-align: center;
  }
  
  .footer .footer-icon .icon{
    display: inline-block;
    width: 60px;
    height: 60px;
    font-size: 32px;
    color:crimson;
    background-color:black;
    margin: 0 20px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
  }
  .footer .footer-icon .icon:hover{
    color:#00cc2c;
  }
  
  .icon i{
    line-height: 60px;
  }
  
  .footer p{
    text-align: center;
    padding: 20px 0;
    color: white;
  }
