<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <title>Confirmation | Petcare</title>

  <link rel="shortcut icon" href="{% static 'img/shortcuticon.jpg' %}" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="{% static 'fontawesome-free-5.15.1-web/css/all.css' %}">
  <link rel="stylesheet" href="{% static 'css/confirmation.css' %}" />


  <!--offline-->
  <!--<link rel="stylesheet" href="/dist/aos.css" />-->

  <!--aos-->
  <link href="{% static '/aos-master/dist/aos.css' %}" rel="stylesheet">
  <script src="{% static '/aos-master/dist/aos.js' %}"></script>

  <!--owl-->
  <link rel="stylesheet" href="{% static 'OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css' %}" />
  <link rel="stylesheet" href="{% static 'OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css' %}" />
  <script src="{% static 'OwlCarousel2-2.3.4/docs/assets/vendors/jquery.min.js' %}"></script>
  <script src="{% static 'OwlCarousel2-2.3.4/dist/owl.carousel.min.js' %}"></script>


  <style>
    .loader {
      position: fixed;
      z-index: 99999;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgb(255, 255, 255);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .loader>img {
      width: 600px;
    }

    .loader.hidden {
      animation: fadeout 1s;
      animation-fill-mode: forwards;

    }

    @keyframes fadeout {
      100% {
        opacity: 0;
        visibility: hidden;
      }
    }

    .error {
      display: block;
      color: red;
      float: right;
      width: 30%;
    }
  </style>
  <script src="{% static '/javascript/validation.js' %}"></script>
  <script>
    AOS.init();
  </script>

</head>

<body>
  <div class="loader">
    <img src="{% static 'img/lod5.gif' %}" alt="loading....">
  </div>


  <!-- header -->

  <div class="header">

    <a herf="#" class="logo">Pet Care<samp>.</samp></a>
    <div class="menutoggle" onclick="togglemenu();">

    </div>

    <ul class="nav">
      {% if 'volunteer_logged_in' in request.session %}
      <li> <a href='/user'> {{ request.session.user_logged_in }} </a> </li> 
      <li> <a href='/'>home</a> </li>
      <li><a href='/about'>about us</a></li>
      <li><a href='/#services'>services</a></li>
      <li><a href='/contacts'>contacts us</a></li>
      {% elif 'user_logged_in' in request.session %}
      <li> <a href='/user'> {{ request.session.user_logged_in }} </a> </li> 
      <li> <a href='/'>home</a> </li>
      <li><a href='/about'>about us</a></li>
      <li><a href='/#services'>services</a></li>
      <li><a href='/contacts'>contacts us</a></li>
      <li><a href='/volunteer'>Join us</a></li>
      {% else %}
      <li> <a href='/login'>login</a> </li>
      <li> <a href='/'>home</a> </li>
      <li><a href='/about'>about us</a></li>
      <li><a href='/#services'>services</a></li>
      <li><a href='/contacts'>contacts us</a></li>
      {% endif %}
    </ul>
  </div>


  <section class="banner" id="banner">
    <div class="content">
      <h1 data-aos="fade-right" data-aos-offset="300" data-aos-duration="3000"><span>p</span>et <span>a</span>doption<span>.</span></h1>
    </div>
  </section>
    <div class="contacts">
      <div class="con" data-aos="fade-up" data-aos-duration="1000">
        <div class="name">
          <h1>my name is {{ petData.name }}</h1>
        </div>
        <div class="imge">
          <img src='{{ petData.image.url }}'>
        </div>
      </div>
      <div class="conf"
        data-aos="fade-up"
        data-aos-duration="1000">
        <div class="del">
          <h1>facts about me</h1>
          <h2><span>breed : </span>{{ petData.breed }}</h2>
          <h2><span>color : </span>{{ petData.color }}</h2>
          <h2><span>age : </span>{{ petData.age }} years</h2>
          <h2><span>size : </span>(current) {{ petData.size }}</h2>
          <h2><span>weight : </span>(current) {{ petData.weight }}</h2>
          <h2><span>Gender : </span>{{ petData.gender }}</h2>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div class="conform" data-aos="fade-up" data-aos-duration="1000">
    <form action="/confirmation/{{petData.id}}" method="post">
      {% csrf_token %}
      <h2>adoption form</h2>
      <div class="inbox" id="uname">
        <input type="text" name="unmtb" id="unmtb" readonly="readonly" value = "{{ request.session.user_logged_in }}"  required="required" onblur="userNameCheck('unmtb');">
        <span class="lab">User name</span><span class="error"></span>
      </div>
      <div class="inbox" id="email">
        <input type="text" name="emailtb" id="emailtb" readonly="readonly" value = "{{ request.session.email_logged_in }}" required="required" onblur="eMailCheck('emailtb');">
        <span class="lab">email</span><span class="error"></span>
      </div>
      <div class="inbox" id="phone">
        <input type="text" name="pnotb" id="pnotb" readonly="readonly" value = "{{ request.session.phone_logged_in }}" required="required" onblur="phoneNumberCheck('pnotb');">
        <span class="lab">phone no</span><span class="error"></span>
      </div>
      <div class="inbox" id="address">
        <textarea required="required" name="addtb" id="addtb" required onblur="addressCheck('addtb')"></textarea>
        <span class="lab1">address</span><span class="error"></span>
      </div>
      <div class="inboxs">
        <b>By checking this chcekbox you are confirming that you are willing to take full care of the this pet.</b><br>
        Check the checkbox to confirm adoption
        <input type="checkbox" type="checkbook" required>
      </div>
      <div class="inbox">
        <input type="submit" name="submit" value="submit">
      </div>

    </form>
  </div>





  <div class="footer-section">
    <div class="wrapper">
      <div class="footer">
        <br>
        <div data-aos="zoom-in" data-aos-duration="1000" class="footer-icon">
          <div class="icon">
            <i class="fab fa-twitter"></i>
          </div>
          <div class="icon">
            <i class="fab fa-facebook"></i>
          </div>
          <div class="icon">
            <i class="fab fa-instagram"></i>
          </div>
          <div class="icon">
            <i class="fab fa-linkedin" aria-hidden="true"></i>
          </div>
        </div>
        <p data-aos="zoom-in" data-aos-duration="1000">
          Copyright 2010-2022 All Right Reserved.
          <br>
          <br>
          Privacy | Terms | Infrigrement | View Just Dial On Mobile
        </p>
      </div>
    </div>
  </div>
  </div>

  <script type="text/javascript">
    window.addEventListener("load", function() {
      const loader = document.querySelector(".loader");
      loader.className += " hidden";
    });
    window.addEventListener('scroll', function() {
      const header = document.querySelector('.header');
      header.classList.toggle("sticky", window.scrollY > 0);
    });

    function togglemenu() {
      const menutoggle = document.querySelector('.menutoggle');
      const nev = document.querySelector('.nav');
      menutoggle.classList.toggle('active');
      nev.classList.toggle("active");
    }
  </script>

  <!--offline-->
  <!--<script src="C:\Users\LENOVO\Documents\dog\numscroller-gh-pages\lib\jquery-1.10.2.min.js"></script>-->
  <script src="numscroller-gh-pages/lib/prism.js"></script>
  <script src="numscroller-gh-pages/numscroller-1.0.js"></script>

  <script>
    AOS.init();
  </script>
</body>

</html>