{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <title>Document</title>

  <link rel="shortcut icon" href="{% static 'img/shortcuticon.jpg' %}" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="{% static 'fontawesome-free-5.15.1-web/css/all.css' %}">
  <link rel="stylesheet" href="{% static 'css/user.css' %}" />

  <script src="{% static '/javascript/validation.js' %}"></script>

  <!--offline-->
  <!--<link rel="stylesheet" href="/dist/aos.css" />-->

  <!--aos-->
  <link href="{% static '/aos-master/dist/aos.css' %}" rel="stylesheet">
  <script src="{% static '/aos-master/dist/aos.js' %}"></script>

  <!--owl-->
  <link rel="stylesheet" href="{% static 'OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css' %}" />
  <link rel="stylesheet" href="{% static 'OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css' %}" />
  <script src="{% static 'OwlCarousel2-2.3.4/docs/assets/vendors/jquery.min.js' %}"></script>
  <script src="{% static 'OwlCarousel2-2.3.4/dist/owl.carousel.min.js' %}"></script>


  <style>
    .loader {
      position: fixed;
      z-index: 99999;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgb(255, 255, 255);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .loader>img {
      width: 600px;
    }

    .loader.hidden {
      animation: fadeout 1s;
      animation-fill-mode: forwards;

    }

    @keyframes fadeout {
      100% {
        opacity: 0;
        visibility: hidden;
      }
    }

    .error {
      display: block;
      color: red;
      float: right;
      width: 38%;
      margin-top: 5px;
      text-align: justify;
    }
  </style>

  <script>
    AOS.init();
  </script>

</head>

<body>
  <!-- <div class="loader">
    <img src="img/lod5.gif" alt="loading....">
  </div> -->


  <!-- header -->

  <div class="header">

    <a herf="#" class="logo">Pet Care<samp>.</samp></a>
    <div class="menutoggle" onclick="togglemenu();">

    </div>

    <ul class="nav">
      {% if 'volunteer_logged_in' in request.session %}
      <li> <a href='/user'> {{ request.session.user_logged_in }} </a> </li> 
      <li> <a href='/'>home</a> </li>
      <li><a href='/about'>about us</a></li>
      <li><a href='/#services'>services</a></li>
      <li><a href='/contacts'>contacts us</a></li>
      {% elif 'user_logged_in' in request.session %}
      <li> <a href='/user'> {{ request.session.user_logged_in }} </a> </li> 
      <li> <a href='/'>home</a> </li>
      <li><a href='/about'>about us</a></li>
      <li><a href='/#services'>services</a></li>
      <li><a href='/contacts'>contacts us</a></li>
      <li><a href='/volunteer'>Join us</a></li>
      {% else %}
      <li> <a href='/login'>login</a> </li>
      <li> <a href='/'>home</a> </li>
      <li><a href='/about'>about us</a></li>
      <li><a href='/#services'>services</a></li>
      <li><a href='/contacts'>contacts us</a></li>
      {% endif %}
    </ul>
  </div>
  <div class="men">
    <div class="conform">
      <form action="/updatedetails/" method="post">
        {% csrf_token %}
        <div class="inbox" id="uname">
          <input type='text' value='{{ request.session.user_logged_in }}' name='uunmtb' id='uunmtb' onblur='userNameCheck('uunmtb')'>
          <span class="lab">user name</span><span class="error"></span>
        </div>

        <div class="inbox">
          <input type="submit" name="uunmsub" class="butt" onclick="return allTrueCHeck();" value="update user name">
        </div>
      </form>
    </div>

    <div class="conform">
      <form action="/updatedetails/" method="post">
        {% csrf_token %}
        <div class="inbox">
          <input type='text' value='{{ request.session.email_logged_in }}' name='uemailtb' id='uemailtb' onblur='eMailCheck('uemailtb')'>
          <span class="lab">email</span><span class="error"></span>
        </div>

        <div class="inbox">
          <input type="submit" name="uemailsub" class="butt" onclick="return allTrueCHeck();" value="update email">
        </div>
      </form>
    </div>
    <div class="conform">
      <form action="/updatedetails/" method="post">
        {% csrf_token %}
        <div class="inbox" id="pass">
          <input type='text' value='{{ request.session.password_logged_in }}' name='upasstb' id='upasstb' onblur='passwordCheck('upasstb')'>
          <span class="lab">password</span><span class="error"></span>
        </div>

        <div class="inbox">
          <input type="submit" name="upasssub" class="butt" onclick="return allTrueCHeck();" value="update password">
        </div>
      </form>
    </div>

    <div class="conform">
      <form action="/logout/" method="post">
        {% csrf_token %}
        <div class="inboxs">
          <b>You are about to log out yourself from the website</b><br>
          check the checkbox to confirm log out
          <input type="checkbox" type="checkbook" required>
        </div>
        <div class="inbox">
          <input type="submit" name="logout" class="butt" value="log out">
        </div>

      </form>
    </div>
  </div>


  <div class="footer-section">
    <div class="wrapper">
      <div class="footer">
        <br>
        <div data-aos="zoom-in" data-aos-duration="1000" class="footer-icon">
          <div class="icon">
            <i class="fab fa-twitter"></i>
          </div>
          <div class="icon">
            <i class="fab fa-facebook"></i>
          </div>
          <div class="icon">
            <i class="fab fa-instagram"></i>
          </div>
          <div class="icon">
            <i class="fab fa-linkedin" aria-hidden="true"></i>
          </div>
        </div>
        <p data-aos="zoom-in" data-aos-duration="1000"> Copyright 2010-2022 All Right Reserved.<br><br>Privacy | Terms | Infrigrement | View
          Just Dial On Mobile
        </p>
      </div>
    </div>
    <script type="text/javascript">
      window.addEventListener("load", function() {
        const loader = document.querySelector(".loader");
        loader.className += " hidden";
      });
      window.addEventListener('scroll', function() {
        const header = document.querySelector('.header');
        header.classList.toggle("sticky", window.scrollY > 0);
      });

      function togglemenu() {
        const menutoggle = document.querySelector('.menutoggle');
        const nev = document.querySelector('.nav');
        menutoggle.classList.toggle('active');
        nev.classList.toggle("active");
      }
    </script>

    <!--offline-->
    <!--<script src="C:\Users\LENOVO\Documents\dog\numscroller-gh-pages\lib\jquery-1.10.2.min.js"></script>-->
    <script src="{% static 'numscroller-gh-pages/lib/prism.js' %}"></script>
    <script src="{% static 'numscroller-gh-pages/numscroller-1.0.js' %}"></script>

    <script>
      AOS.init();
    </script>
</body>

</html>